.Pokedex {
  padding: 16px;
}

.Pokedex .case {
  height: 550px;
  width: 400px;
  background: #c00e0b;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.Pokedex .top {
  height: 100px;
  width: 100%;
  background: #8a0100;
  border-radius: 20px 20px 0 0;
}

.Pokedex .top-bottom {
  top: 51px;
  right: -29px;
  height: 50px;
  position: absolute;
  width: 250px;
  background: #c00e0b;
  transform: skew(-45deg, 0);
  border-radius: 10px 0 0 0;
}

.Pokedex .top-blue-button {
  position: absolute;
  left: 15px;
  top: 15px;
  height: 40px;
  width: 40px;
  background: #5ed6f1;
  border-radius: 50%;
  border: 2px solid white;
}

.Pokedex .top-red-button {
  position: absolute;
  left: 70px;
  top: 15px;
  height: 19px;
  width: 19px;
  background: #e4534f;
  border-radius: 50%;
}

.Pokedex .top-yellow-button {
  position: absolute;
  left: 95px;
  top: 15px;
  height: 19px;
  width: 19px;
  background: #fefe40;
  border-radius: 50%;
}

.Pokedex .top-green-button {
  position: absolute;
  left: 120px;
  top: 15px;
  height: 19px;
  width: 19px;
  background: #68ea3d;
  border-radius: 50%;
}

.Pokedex .screen-border {
  width: 360px;
  height: 200px;
  background: #b1b1b1;
  top: 170px;
  border-radius: 20px;
  left: 20px;
  right: 20px;
  position: absolute;
}

.Pokedex .screen {
  width: 300px;
  height: 150px;
  background: white;
  top: 195px;
  border: 2px solid black;
  border-radius: 20px;
  left: 50px;
  right: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pokedex .image {
  width: 100px;
}

.Pokedex .arrow-group {
  top: 410px;
  right: 70px;
  height: 85px;
  width: 85px;
  position: absolute;
}

.Pokedex .up-box {
  background-color: rgb(127, 117, 116);
  border-radius: 4px 4px 0 0;
  box-shadow: 2px 2px 4px black, inset 2px 2px 4px darkgray, -1px -1px 2px black;
  height: 33%;
  width: 33%;
  left: 33%;
  position: absolute;
}

.Pokedex .right-box {
  background-color: rgb(127, 117, 116);
  border-radius: 0 4px 4px 0;
  box-shadow: 2px 2px 4px black, inset 0px 4px 4px -2px darkgray,
    -1px -1px 2px black;
  height: 33%;
  width: 33%;
  right: 0%;
  top: 33%;
  position: absolute;
}

.Pokedex .down-box {
  background-color: rgb(127, 117, 116);
  border-radius: 0 0 4px 4px;
  box-shadow: 2px 2px 4px black, inset 4px 0px 4px -2px darkgray,
    -1px -1px 2px black;
  height: 34%;
  width: 33%;
  bottom: 0%;
  left: 33%;
  position: absolute;
}

.Pokedex .center-box {
  background-color: rgb(127, 117, 116);
  height: 33%;
  width: 33%;
  left: 33%;
  top: 33%;
  position: absolute;
}

.Pokedex .left-box {
  background-color: rgb(127, 117, 116);
  border-radius: 4px 0 0 4px;
  box-shadow: 0px 4px 4px -2px black, inset 2px 2px 4px darkgray,
    -1px -1px 2px black;
  height: 33%;
  width: 33%;
  top: 33%;
  position: absolute;
}

.Pokedex .arrow {
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 18px solid rgb(75, 70, 66);
  left: 6px;
  top: 5px;
  position: absolute;
  z-index: 1;
}

.Pokedex .arrow::after {
  content: '';
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 15px solid rgb(89, 79, 77);
  left: -7px;
  top: 3px;
  position: absolute;
}

.Pokedex .right {
  transform: rotate(90deg);
}

.Pokedex .down {
  transform: rotate(180deg);
}

.Pokedex .left {
  transform: rotate(270deg);
}

.Pokedex .dent {
  background-color: rgb(75, 70, 66);
  border-radius: 50%;
  left: 6px;
  top: 6px;
  position: absolute;
  height: 17px;
  width: 17px;
}
